<ion-header>
  <app-task-header [showNotice]="false" rightOptionIcon="close" (rightOptionEvent)="close()">
  </app-task-header>
</ion-header>
<ion-content force-overscroll="false">

  <ion-list lines="full">
  <ion-item>
    <ion-label color="medium" position="floating">任务名称</ion-label>
    <ion-input [(ngModel)]="task.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="medium" position="floating">任务描述</ion-label>
    <ion-input [(ngModel)]="task.description"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label color="medium" position="floating">类型</ion-label>
      <ion-input [(ngModel)]="task.category"></ion-input>
    </ion-item>

  <ion-item>
      <ion-label color="medium" position="floating">选择日期和时间</ion-label>
      <ion-datetime [(ngModel)]="date" display-format="YYYY-MM-DD HH:mm"></ion-datetime>
    </ion-item>
  
    <ion-item-group>
        <ion-item-divider>
          <ion-label>Priority</ion-label>
        </ion-item-divider>
      
        <ion-item>
          <ion-label>选颜色的位置。</ion-label>
        </ion-item>
      </ion-item-group>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-button style="margin:0" (click)="add()" color="tertiary" expand="full">ADD</ion-button>
</ion-footer>