
<ion-item-sliding #slid (mousedown)="stoProp($event)" (touchstart)="stoProp($event)"  
>
<ion-item style="--padding-start:0">
  <ion-label class="date">
    <ion-text>
      <p>{{task.date | date :'HH:mm'}}</p>
    </ion-text>
    <ion-text color="dark">
      <p><b>{{task.date | date :'a'}}</b></p>
    </ion-text>
  </ion-label>
  <ion-label class="task-info">
    <ion-text>
      <p>{{task.title}}</p>
    </ion-text>
    <ion-text color="medium">
      <p>{{task.category}}</p>
    </ion-text>
  </ion-label>
  <ion-icon *ngIf="task.follow" color="warning" (click)="follow()" name="star" size="small" slot=""></ion-icon>
  <ion-icon *ngIf="!task.follow" (click)="follow()" name="star-outline" size="small" slot=""></ion-icon>
  <ion-icon color="success" size="small" name="round"></ion-icon>
</ion-item>
<ion-item-options class="option" side="start">
  <ion-item-option color="success" (click)="emitDoneEvent()">
      <ion-icon size="large" name="checkbox-outline"></ion-icon>
      <ion-label>完成</ion-label>
  </ion-item-option>
</ion-item-options>

<ion-item-options class="option" side="end">
  <ion-item-option color="danger">
      <ion-icon size="large" mode="md" name="time"></ion-icon>
      <ion-label>以后</ion-label>
  </ion-item-option>
</ion-item-options>
</ion-item-sliding>