
<ion-content force-overscroll="false">
  <div class="content-wrapper">
      <div class="logo">
        <img src="/assets/images/logo.svg" alt="">
      </div>
      <div class="form-wrapper">
          <form action="">
            <ion-list lines="full" inset color="warning">
              <ion-item>
                  <ion-icon name="person"></ion-icon>
                  <ion-input placeholder="username"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-icon name="lock"></ion-icon>
                  <ion-input type="password" placeholder="password"></ion-input>
              </ion-item>
            </ion-list>
            <ion-button color="tertiary" expand="full">LOGIN</ion-button>
          </form>
      </div>
      <div class="other-login">
        <h2>OR</h2>
        <p>login using social media</p>
        <div class="login-type">
          <ion-avatar>
            <img src="/assets/images/wechat.svg">
          </ion-avatar>
          <ion-avatar>
              <img src="/assets/images/qq.svg">
            </ion-avatar><ion-avatar>
              <img src="/assets/images/github.svg">
            </ion-avatar>
        </div>
      </div>
  </div>
</ion-content>
