<ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-icon size="large" slot="" (click)="openMenu()" name="custommenu"></ion-icon>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon size="large" name="notifications-outline"></ion-icon>
      <ion-icon size="large" slot="end" (click)="openMenu()" name="add"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" >
      <ion-searchbar placeholder="Search Task" animated="true" color="light"></ion-searchbar>
  </ion-toolbar>
  <ng-content></ng-content>